@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    --main--blue--color: #0323f6;
    --main--red--color: #e61422;
    font-family: 'Outfit', sans-serif;
}